@if (IsEnabled)
{
	<style>
		.smeg {
			display: inline-block;
			vertical-align: top;
			max-width: 150px;
		}
	</style>

	<InfoPanel Position="top right">
		<Addons Class="smeg">
			<Addon AddonType="AddonType.Start">
				<AddonLabel>Galaxy Size</AddonLabel>
			</Addon>
			<Addon AddonType="AddonType.Body">
				<NumericEdit TValue="int" @bind-Value="Settings.GalaxySize" Size="Size.Small" />
			</Addon>
		</Addons>

		<Addons Class="smeg">
			<Addon AddonType="AddonType.Start">
				<AddonLabel>Planet Count</AddonLabel>
			</Addon>
			<Addon AddonType="AddonType.Body">
				<NumericEdit TValue="int" @bind-Value="Settings.PlanetCount" Size="Size.Small" />
			</Addon>
		</Addons>

		<Addons Class="smeg">
			<Addon AddonType="AddonType.Start">
				<AddonLabel>Min. Distance</AddonLabel>
			</Addon>
			<Addon AddonType="AddonType.Body">
				<NumericEdit TValue="int" @bind-Value="Settings.MinimumDistanceBetweenPlanets" Size="Size.Small" />
			</Addon>
		</Addons>

		<Button Class="smeg" Color="Color.Primary" Clicked="Generate" Size="ButtonSize.Small">Generate Galaxy</Button>
	</InfoPanel>
}

@code
{
	[Parameter]
	public GalaxyGeneratorSettings Settings { get; set; }

	[Parameter]
	public EventCallback OnGenerate { get; set; }

	[Parameter]
	public EventCallback<GalaxyGeneratorSettings> SettingsChanged { get; set; }

	[Parameter]
	public bool IsEnabled { get; set; }

	private void Generate()
	{
		if (OnGenerate.HasDelegate)
		{
			OnGenerate.InvokeAsync(null);
		}
	}
}
