@inherits PanelBase

<style>
	.message {
		max-width: 300px;
		margin: 0px 2px;
		background-color: rgba(0,0,0, 0.2);
		padding: 0px 2px;
	}

	.mood-bad {
		background-color: rgba(255,0,0, 0.2);
	}

	.mood-good {
		background-color: rgba(0,255,0, 0.2);
	}

	.clickable {
		cursor: pointer;
	}
</style>

@if (player?.Messages.Any() == true)
{
	<InfoPanel Title="Messages">
		@foreach (var msg in player.Messages)
		{
			var tmp = msg;
			<div class="@GetMessageClass(msg)" @onclick="@(async () => await ItemClicked.InvokeAsync(tmp))">@msg.Body</div>
		}

		<Button Size="ButtonSize.Small" Color="Color.Danger" Clicked="ClearMessages">Clear</Button>
	</InfoPanel>
}

@code
{
	private IPlayer player => GameWrapper.Client.Player;

	[Parameter]
	public EventCallback<Message> ItemClicked { get; set; }

	private void ClearMessages()
	{
		if (player is IPlayerController controller)
		{
			controller.ClearMessages();
		}
	}

	private string GetMessageClass(Message msg)
	{
		var mood = msg.Mood switch
		{
			Mood.Bad => "message mood-bad",
			Mood.Good => "message mood-good",
			_ => "message",
		};

		var click = msg.ObjectId != null ? "clickable" : "";

		return $"message {mood} {click}";
	}
}
