<style>
	.mineral-panel {
		width: 100%;
	}

	.bar {
		height: 5px;
		margin-top: 2px;
		margin-bottom: 2px;
	}

	.br {
		background-color: lime;
	}

	.gr {
		background-color: yellow;
	}

	.ir {
		background-color: blue;
	}
</style>


<div class="mineral-panel">
	<div class="bar br" style=@($"width: {Minerals.Boranium}%;")></div>
	<div class="bar gr" style=@($"width: {Minerals.Germanium}%;")></div>
	<div class="bar ir" style=@($"width: {Minerals.Ironium}%;")></div>
</div>

@code
{
	[Parameter]
	public Minerals Minerals { get; set; }
}
