
@if (Planet != null && IsEnabled)
{
	<div class="info-panel bottom left" @onclick="() => OnPanelClicked.InvokeAsync(null)">
		<div class="small-font">
			<h5>Planet #@Planet.Id</h5>

			<p><b>Position</b> @Planet.Position.X, @Planet.Position.Y</p>

			@if (Planet.Details != null)
			{
				<p><b>Environment</b> <br /> @Planet.Details?.Environment</p>

				<p><b>Minerals</b> <MineralsPanel Minerals="Planet.Details.Minerals" /></p>
			}
		</div>
	</div>
}
@code
{
	[Parameter]
	public IPlanet Planet { get; set; }

	[Parameter]
	public EventCallback<IPlanet> OnPanelClicked { get; set; }

	[Parameter]
	public bool IsEnabled { get; set; }
}
