
@if (IsEnabled)
{
	<InfoPanel Position="top left">
		<h5>Game</h5>
		<div @onclick="NextTurn">Time: @Game.Time</div>
		<div @onclick="NextPlayer">Player: @(Game.Players.Single(p => p.Id == PlayerId).Name)</div>
	</InfoPanel>
}

@code 
{
	[Parameter]
	public Game Game { get; set; }

	[Parameter]
	public int PlayerId { get; set; }

	[Parameter]
	public EventCallback OnNextTurn { get; set; }

	[Parameter]
	public EventCallback OnNextPlayer { get; set; }

	[Parameter]
	public bool IsEnabled { get; set; }

	private async Task NextTurn()
	{
		if (OnNextTurn.HasDelegate)
		{
			await OnNextTurn.InvokeAsync(null);
		}
	}

	private async Task NextPlayer()
	{
		if (OnNextPlayer.HasDelegate)
		{
			await OnNextPlayer.InvokeAsync(null);
		}
	}
}
