<style>
	.label-box {
		border: 1px solid darkblue;
		border-radius: 3px;
		margin: 2px;
		display: inline-block;
	}

	.label {
		display: inline-block;
		min-width: 50px;
		padding: 2px;
		border-right: 1px solid black;
		background-color: cornflowerblue;
	}

	.num-input {
		width: 60px;
		text-align: right;
		border: none;
		outline: none;
		margin-right: 4px;
	}
</style>

<div class="label-box">
	<div class="label">@Label</div>
	@ChildContent
</div>

@code
{
	[Parameter]
	public string Label { get; set; }

	[Parameter]
	public RenderFragment ChildContent { get; set; }
}
