@page "/game/{GameId:int}/{PlayerId:int}"

@inject IJSRuntime JSRuntime
@inject GameServerService GameServers

@implements IDisposable

<style>
	.main-container {
		position: relative;
		width: 100%;
		height: 100vh;
	}

	.setup-container {
		margin: 5px;
	}

	.small-font {
		font-size: small;
	}
</style>

<div>
	<div class="main-container" id="mejn">
		@if (client != null)
		{
			<UiGalaxy Galaxy="Galaxy" @bind-SelectedObject="selectedObject" />

			@if (selectedObject is IPlanet planet)
			{
				<PlanetInfoPanel Planet="planet" IsEnabled="true" />
			}
			else if (selectedObject is IFleet fleet)
			{
				<InfoPanel Position="bottom left">
					@fleet.Name

					@if (fleet is IFleetController ctrl)
					{
						<Button Clicked="ClearFleetWaypoints">Clear WPs</Button>
						<Button Clicked="AddFleetWaypoint">Add WP</Button>
					}
				</InfoPanel>
			}

			<InfoPanel Position="top left" OnClicked="client.SetReadyFlag">
				<div>Turn: @client.CurrentTurn</div>
				<div>ETA: @client.TriggerStatus</div>
			</InfoPanel>
		}
	</div>
</div>

@code
{
	// Model
	private GameClient client;
	private IGalaxy Galaxy => client.GalaxyView;

	// Selection
	private ISpaceObject selectedObject;

	[Parameter]
	public int GameId { get; set; }

	[Parameter]
	public int PlayerId { get; set; }

	protected override void OnInitialized()
	{
		client = GameServers.GetGameClient(GameId, PlayerId);
		client.GameUpdated += GameUpdated;
		client.TriggerUpdated += TriggerUpdated;
	}

	public void Dispose()
	{
		if (client != null)
		{
			client.TriggerUpdated -= TriggerUpdated;
			client.GameUpdated -= GameUpdated;
			client.Dispose();
		}
	}

	private void Update()
	{
		if (selectedObject != null)
		{
			selectedObject = Galaxy.GetSpaceObject(selectedObject.ObjectId);
		}

		StateHasChanged();
	}

	private void GameUpdated(object sender, EventArgs e)
	{
		InvokeAsync(Update);
	}

	private void TriggerUpdated(object sender, EventArgs e)
	{
		InvokeAsync(Update);
	}

	private void ClearFleetWaypoints()
	{
		if (selectedObject is IFleetController ctrl)
		{
			ctrl.SetWaypoints(null);
		}
	}

	private void AddFleetWaypoint()
	{
		if (selectedObject is IFleetController fleet)
		{
			var list = fleet.Waypoints.ToList();
			var origin = list.Any() ? list.Last() : fleet.Position;

			var rnd = new Random();
			var dx = rnd.Next(150) - 75;
			var dy = rnd.Next(150) - 75;
			var delta = new Position(dx, dy);
			list.Add(origin + delta);

			fleet.SetWaypoints(list);
		}
	}
}
