@page "/"
<div class="justify-content-center align-items-center" style="background-image: url(starback.jpg); height: 100vh">
	<h1 style="color:wheat; height:100%; display:flex; justify-content: center; align-items: center; font-size:5em;">Stars! The Next Generation</h1>
</div>


